<section id = "app-right-panel">

<!-- Time Clocked-->
<div id = "timeclocked">
<div class="panel panel-primary text-center">
    <div class="panel-heading">
        <h3>Time Clocked</h3>
        <h3>0 : 0 0 : 0 0</h3>
    </div>
</div>
</div>

    <!-- Billables-->
    <div id = "billables">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                <h3>Billables</h3>
                <i class = "glyphicon glyphicon-credit-card"></i>
            </div>
        </div>
    </div>

<!-- View Jobs-->
<div id = "viewjobs">
    <div class="panel panel-primary text-center">

    <div class="panel-heading">
        <h3>View Jobs</h3>
        <i class = "glyphicon glyphicon-share"></i>
    </div>
</div>
</div>

    <!-- Todos-->
    <div id = "Todos">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                <h3>Todos</h3>
                <i class = "glyphicon glyphicon-tasks"></i>
            </div>
        </div>
    </div>




<!-- History-->
<div id = "history">
<div class="panel panel-primary text-center">
    <div class="panel-heading">
        <h3>History</h3>
        <i class = "glyphicon glyphicon-heart"></i>
    </div>
</div>
</div>




</section>