doctype html
html
  head
        include ../dependencies/head.html
  body
    include ../partials/header.html
    include ../partials/nav.html
.container
  .row
  .col-md-12
        block content
    footer
       include ../dependencies/libs.html
