doctype html
html
  head
        include ../dependencies/head.html
  body
    include ../partials/header.html
    include ../partials/nav.html
.container
 .row
  .col-md-8
        block content
  .col-md-4
        block sidebar
    footer
       include ../pages/jade_templates/all-templates
       include ../dependencies/libs.html