<!--Libs-->
<script src="../../libs/js/jquery-2.1.3.js"></script>
<script src="../../libs/js/underscore.js"></script>
<script src="../../libs/js/backbone.js"></script>
<script src="../../libs/js/bootstrap.js"></script>


<!--Models-->
<script src = "../../js/models/job-model.js"></script>
<!--Collections-->
<script src = "../../js/collections/job-collections.js"></script>
<!--Views-->
<script src = "../../js/views/job-view.js"></script>
<script src = "../../js/views/jobs-view.js"></script>
<!--Routes-->

<!--Custom Logic-->
<script src = "../../js/app-main.js"></script>
